dockstring==0.3.2
Flask==3.0.3
Flask_Cors==5.0.0
langchain==0.3.4
langchain_community==0.3.3
langchain_google_genai==2.0.1
matplotlib==3.9.2
open_clip_torch==2.23.0
pandas==2.2.3
Pillow==11.0.0
protobuf==5.28.3
pymongo==4.10.1
python-dotenv==1.0.1
rdkit==2024.3.5
Requests==2.32.3
seaborn==0.13.2
torch==2.4.1
bcrypt
numpy
tensorflow