.individual-doctor-profile {
  width: 400px;
  margin-right: 1%;
  box-shadow: 0 0 5px #333;
  border-radius: 10px;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure flex alignment from top to bottom */
  padding-bottom: 20px; /* Add some padding at the bottom */
}

.individual-doctor-profile:hover {
  opacity: 1;
}

.upper {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 0px;
}

.imageContainer {
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 24px;
  color: #283779;
  font-weight: 700;
}

.field {
  font-size: 18px;
  color: #05c37d;
  font-weight: 600;
}

.fee {
  background-color: darkblue;
  padding: 2px 6px;
  border-radius: 5px;
  width: 180px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.mobema {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  column-gap: 5px;
  color: #333333f5;
}

.talknow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1; /* Makes sure this section takes up available space */
}

.desc {
  column-gap: 5px;
  margin: 0 5px;
  margin-bottom: 10px;
  flex-grow: 1; /* Ensure that description grows to fill space if needed */
}

.talknowbutton {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #05c37d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 0 50px;
}

.talknowbutton:hover {
  background-color: #04a16c;
}
